[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/fmath"]
	path = external/fmath
	url = https://github.com/herumi/fmath
[submodule "external/--force"]
	path = external/--force
	url = https://github.com/pybind/pybind11
